body {
    background-color: white;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 50px;
    text-decoration: underline;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px 6px rgba(103, 109, 100, 0.705);

}

#img2 {
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 20px;
    object-fit: cover;
}

#img-caption {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 10px 10px 10px rgba(24, 23, 24, 0.226);
}

